body{
    background-color: bisque;
    font-family: Helvetica;
    margin-top: 0px;
}

h1{
    color:  brown;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: white;
    margin-bottom: 5px;
}

ul li{
    display: inline;
    margin-left: 30px;
    text-align: right;
  }

a{
    font-size: 14px;
}

.bg {
    height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.right-col{
    color: whitesmoke;
    margin-left: 50px;
    font-family: Questrial;
    font-size: 20px;
    letter-spacing: 2px;
}

.right-text{
    text-align: end;
    font-size: 16px;
}

.flex-container {
    display: flex;
    min-height: 100px;
}

.flex-menu-1 {
    flex: 1;
    border: 1px solid white;
}  

.flex-menu-2 {
    flex: 1;
    border: 1px solid white;
}  
.flex-menu-3 {
    flex: 1;
    border: 1px solid white;
    margin-right: 10px;
} 
.flex-child:first-child {
    margin-right: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.text-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    }